.WaveInfo {
    width: 100.6%;
    height: 89vh;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 4rem;
}
.WaveInfo .WaveRespectsYou .device {
    height: 89vh !important;
    margin-top: auto;
    margin-bottom: auto;
}

.WaveInfo .WaveRespectsYou .IphoneX {
    height: 715px !important;
    right: 25%;
}

.WaveInfo .WaveRespectsYou .device .device-content-container {
    top: 11.088112%;
    left: 30%;
    height: 75.223776224%;
    width: 36%;
}

.ChooseWhatYouSeeIllustration {
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
