@import "variables.css";
@import "responsive.css";
@import "header.css";
@import "section2.css";
@import "information.css";
@import "device.css";

/* HTML */
html {
  scroll-behavior: smooth;
}

/* Navigation */
.navbar {
    transition: 0.3s ease;;
    transition-property: white, color;
    z-index: 1;
}

.NavPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse .navbar-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;

}

.ml-auto {
    margin-left: auto !important;
}

.NavCTA {
    background: var(--primary);
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--Montserrat);
    text-align: center;
    border-radius: 5px;
    height: 50px !important;
    border: none;
    padding: 15px;
    text-decoration: none !important;
    transition: 0.3s ease-in-out;
}

.NavCTA:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.Landing {
    top: 0;
    margin-left: 30px;
    margin-right: 40px;
    position: relative;
    width: auto;
    display: none;
}

footer {
    height: 50px;
    width: 100%;
    background: white;
    color: var(--Charcoal);
    display: block;
    bottom: 0 !important;
}

.img-fluid > img,
.img-fluid > svg {
    max-width: inherit;
    height: inherit;
}

.overflow-hidden {
    overflow: hidden !important;
}

.primary {
    color: var(--primary);
}

.bg-primary-desat {
    background: var(--primary-desat) !important;
}

.bg-secondary-desat {
    background: var(--secondary-desat) !important;
}
