@import "variables.css";
@import "responsive.css";
@import "header.css";
@import "section2.css";
@import "information.css";
@import "device.css";

/* Navigation */
.navbar {
    transition: 0.3s ease;;
    transition-property: white, color;
    z-index: 1;
}

.NavPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse .navbar-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;

}

.ml-auto {
    margin-left: auto !important;
}

.NavCTA {
    background: var(--primary);
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--Montserrat);
    text-align: center;
    border-radius: 5px;
    height: 50px;
    border: none;
    padding: 5px 15px 5px 15px;
}

.Landing {
    top: 0;
    margin-left: 30px;
    margin-right: 40px;
    position: relative;
    width: auto;
    height: 289vh;
}

.img-fluid > img,
.img-fluid > svg {
    max-width: inherit;
    height: inherit;
}

.overflow-hidden {
    overflow: hidden !important;
}

.primary {
    color: var(--primary);
}

.bg-primary-desat {
    background: var(--primary-desat) !important;
}

.bg-secondary-desat {
    background: var(--secondary-desat) !important;
}
