@import "variables.css";
@import "responsive.css";
@import "device.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Navigation */
.navbar {
    transition: 0.3s ease;;
    transition-property: white, color;
    z-index: 1;
}

.NavPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse .navbar-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;

}

.ml-auto {
    margin-left: auto !important;
}

.NavCTA {
    background: var(--primary);
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat",  sans-serif;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    border: none;
    padding: 5px 15px 5px 15px;
}

.Landing {
    top: 0;
    margin-left: 30px;
    margin-right: 40px;
    position: relative;
    width: auto;
    height: 289vh;
}

.Header {
    width: 100.6%;
    height: 89vh;
    background: var(--secondary-desat);
    border-radius: 10px;
    overflow: hidden;

}

.Header-Text-Container {
    z-index: 2;
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Title {
    width: 40vw;
    color: var(--primary);
    font-size: 4.2rem;
    font-weight: 800;
    font-family: "Montserrat",  sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.SubTitle {
    width: 22vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 32px;
    text-align: center;
    color: var(--Charcoal);
}

.img-fluid > img,
.img-fluid > svg {
    max-width: inherit;
    height: inherit;
}

.overflow-hidden {
    overflow: hidden !important;
}
