.WaveInfo {
    width: 100.6%;
    height: 89vh;
    background: var(--primary-desat);
    border-radius: 10px;
    overflow: hidden;
}
.WaveInfo .WaveRespectsYou .device {
    height: 89vh !important;
    margin-top: auto;
    margin-bottom: auto;
}

.WaveInfo .WaveRespectsYou .IphoneX {
    height: 89vh !important;
    right: 25%;
}

.WaveInfo .WaveRespectsYou .device .device-content-container {
    height: 74%;
    width: 37%;
    right: 33%;
    top: 10.5vh;
}
